{
  "extends": ["prettier", "airbnb-base"],
  "parserOptions": {
    "ecmaVersion": 12
  },
  "env": {
    "commonjs": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "no-unused-vars": ["error", { "lets": "all", "args": "none" }],
    "func-names": ["error", "never", { "generators": "always" }],
    "no-underscore-dangle": ["error", { "allow": ["_id", "._id"] }],
    "no-var": ["off", "error"],
    "one-var": ["off"],
    "comma-dangle": ["error", "never"],
    "no-console": 0,
    "indent": 0,
    "linebreak-style": 0,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "none",
        "singleQuote": true,
        "printWidth": 100,
        "tabWidth": 4,
        "semi": true
      }
    ]
  },
  "plugins": ["prettier"]
}
